@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,100;1,200;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: white;
  --second-color: rgb(203, 108, 154);
}
section {
  padding: 50px 10%;
}
img {
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(13, 12, 12);
  box-shadow: 0 4px 31px rgb(223, 112, 115);
  padding: 15px 10%;
  transition: 0.2s;
}
.logo {
  display: flex;
  align-items: center;
  color: var(--second-color);
}
.logo img {
  width: 40px;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: var(--second-color);
  font-weight: 600;
  text-transform: uppercase;
}
.navbar a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 25px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}
.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: black;
  gap: 1rem;
}
.home-text {
  flex: 1 1 17rem;
}
.home-img {
  flex: 1 1 17rem;
}
.home-img img {
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }
  50% {
    transform: translate(-0px, -11px);
  }
  100% {
    transform: translate(-11px, 0);
  }
}
.home-text span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--second-color);
}
.home-text h1 {
  font-size: 3.2rem;
  color: var(--main-color);
  font-weight: bolder;
}
.home-text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--second-color);
  text-transform: uppercase;
  margin: 0.5rem 0 1.4rem;
}
.home-text h3 {
  color: var(--second-color);
}
.btn {
  padding: 7px 16px;
  border: 2px solid var(--second-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight: 500;
}
.btn:hover {
  color: white;
  background: var(--second-color);
}
.heading {
  text-align: center;
  text-transform: uppercase;
}
.heading span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}
.heading h1 {
  font-size: 2rem;
  color: var(--main-color);
}
.shop-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}
.shop-container .box {
  flex: 1 1 10rem;
  background: pink;
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  border-radius: 0.5rem;
}
.shop-container .box .box-img .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.stars {
  margin: 1rem 0 0.1rem;
}
.shop-container .box .stars .box {
  color: rgb(170, 218, 106);
}
.shop-container .box h2 {
  color: rgb(232, 131, 0);
  font-size: 1.2rem;
}
.shop-container .box span {
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.2rem 0 0.5rem;
}
.box .btn {
  border: 2px solid rgb(218, 90, 112);
  color: blue;
}
.box .btn:hover {
  background: black;
  columns: var(--second-color);
}
.shop {
  background: black;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.order-img {
  opacity: 0.7;
  flex: 1 1 21rem;
}
.order-text {
  color: blanchedalmond;
  flex: 1 1 21rem;
}
.order {
  background-color: black;
}
.order-text h2 {
  font-size: 1.2rem;
  color: var(--second-color);
}
.order-text p {
  margin: 0.5rem 0 1rem;
  text-align: justify;
}
.blog-con {
  margin-top: 2rem;
}
.blog-head span {
  text-align: center;
  color: rgb(193, 42, 77);
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}
.blog-con p {
  color: blanchedalmond;
  font-size: large;
  font-style: italic;
  text-align: justify;
}
.blog-text h3 {
  color: rgb(225, 115, 141);
  font-size: 25px;
  font-weight: 900;
  text-decoration: underline;
}
.blog {
  background: black;
}
.about-con {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.about-img {
  opacity: 0.7;
  flex: 1 1 21rem;
}
.about-text {
  color: blanchedalmond;
  flex: 1 1 21rem;
}
.about {
  background-color: black;
}
.about-con {
  color: pink;
  text-align: center;
}
.about-text h2 {
  font-size: 1.2rem;
  color: var(--second-color);
}
.about-text p {
  margin: 0.5rem 0 1rem;
  text-align: justify;
}
.abut-heading h2 {
  text-align: center;
  color: pink;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--second-color);
}
.social a {
  font-size: 27px;
  margin: 0.5rem;
}
.social a .bx {
  padding: 5px;
  color: rgb(119, 117, 117);
  background: black;
  border-radius: 50%;
}
.social a .bx:hover {
  background: var(--main-color) \;;
}
.links {
  margin: 1rem 0 1rem;
}
.links a {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  padding: 1rem;
}
.links a:hover {
  color: rgb(149, 41, 41);
}
footer p {
  text-align: center;
}
.contact {
  color: aliceblue;
  background: black;
}
.contact h2 {
  color: pink;
}
